/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-card-menu {
    color: white;
}
/* Card text title - remove margin */
.mat-card-header-text {
    margin: 0px !important;
}
.mat-card-avatar {
    margin-right: 10px;
}