body{
    margin: 0px;
}
mat-card{
    background-color: #8e24aa;
    font-weight: bold;
    letter-spacing: 0.13em;
}

.name {
    padding-left: 10px;
    padding-top: 10px;
}
.row-content {
    display: flex;
    flex-direction: row;
}
.user-name {
    padding-left: 10px;
}