<mat-card *ngIf="post">
  <!-- Header -->
  <mat-card-header>
    <div mat-card-avatar *ngIf="!isComment">
        <!-- <img src="assets\avatars\1.png" height="40" width="40"> -->
        <i class="material-icons avatar-card-icon">account_circle</i>
    </div>
    <mat-card-title class="post-title">{{post.title}}</mat-card-title>
    <mat-card-subtitle>
        <div class="auth"> From: {{post.auther.name}}</div>
        <div class="date-content">{{post.date|date}}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <!-- content -->
  <mat-card-content class="post-content">
    <p>{{post.content}}</p>
  </mat-card-content>
  <div *ngIf="post.comments.length > 0">
    <div class="comments-title" >Comments</div>
    <div *ngFor="let comment of post.comments">
      <app-post [post]="comment" isComment=true></app-post>
    </div>
  </div>
  <app-new-post *ngIf="!isComment" [postId]="post.id"></app-new-post>
</mat-card>